{# this form theme will be applied only to the form of this template #}
{% form_theme form 'form_div_layout.html.twig' %}

{{ form_start(form) }}
    {# {{ form(form) }} #}
    {{ form_row(form.label) }}<button type="button" class="add_item_link" data-collection-holder-class="teams">Add a team</button>
    
    {# the data-index attribute is required for the JavaScript code below #}
    <ul class="teams"
    data-index="{{ form.teams|length > 0 ? form.teams|last.vars.name + 1 : 0 }}"
    data-prototype="{{ form_widget(form.teams.vars.prototype)|e('html_attr') }}"
    ></ul>
    <div class="form-error">
        {{ form_errors(form) }}
    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}