{# this form theme will be applied only to the form of this template #}
{% form_theme form 'form_table_layout.html.twig' %}

{{ form_start(form) }}

{# {{ form(form) }} #}
<button type="button" class="btn btn-primary add_item_link" data-collection-holder-class="teams">Add a team</button>
<button class="btn btn-success">{{ button_label|default('Save') }}</button>

{# the data-index attribute is required for the JavaScript code below #}
<table>
	<thead>
		<tr>
			<th>Label</th>
			<th></th>
			<th>Max. members</th>
			<th></th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody class="teams" data-index="{{ form.teams|length > 0 ? form.teams|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.teams.vars.prototype)|e('html_attr') }}"></tbody>
</table>

<h2>Teams</h2>
{% for team in form.teams %}
	<div>
		<p>Label :
			{{ field_value(team.label) }}
			- Max. members :
			{{ field_value(team.maxmembers) }}</p>
		{{ form_widget(team.label, {'attr': {'hidden': 'hidden'}}) }}{{ form_widget(team.maxmembers, {'attr': {'hidden': 'hidden'}}) }}
	</div>
{% endfor %}

<div class="form-error">
	{{ form_errors(form) }}
</div>

{{ form_end(form) }}
